# --- Local Development ---
PORT=3000
NODE_ENV=development
NEXT_PUBLIC_SITE_URL=http://localhost:3000 # http://todo.hidat.site
NEXT_PUBLIC_API_URL=http://localhost:3000/api # http://todo.hidat.site/api
NEXT_PUBLIC_IS_DEBUG=true
# Database Local (Dùng khi dev offline)
SQLITE_DB_PATH=./data/sqlite.db

# Security
JWT_SECRET=your_secret_key_here
# Turso Database | Comment for local development 
TURSO_CONNECTION_URL=libsql://your-db-name.turso.io
TURSO_AUTH_TOKEN=your-auth-token