
# --- Deployment Configuration ---
PORT=3000
NODE_ENV=development

# --- API & Site URLs (Crucial for SSR and Client-side) ---
# For Production: https://todo.datnotabug.site
# For Local: http://localhost:3000
NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_API_URL=http://localhost:3000/api
NEXT_PUBLIC_IS_DEBUG=false

# --- Security & Database ---
JWT_SECRET=your_secret_key_here
SQLITE_DB_PATH=./data/sqlite.db


# -------- COPY TO PROD --------
# PORT=3000
# NODE_ENV=production

# # --- API & Site URLs (Crucial for SSR and Client-side) ---
# # For Production: https://todo.datnotabug.site
# # For Local: http://localhost:3000
# # For Local Docker: http://localhost:3335
# NEXT_PUBLIC_SITE_URL=https://todo.datnotabug.site
# NEXT_PUBLIC_API_URL=https://todo.datnotabug/api
# NEXT_PUBLIC_IS_DEBUG=false

# # --- Security & Database ---
# JWT_SECRET=your_secret_key_here
# SQLITE_DB_PATH=./data/sqlite.db
# -------- COPY TO PROD --------